<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/hotelBook</property>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>
    <property name="hibernate.connection.username">use</property>
    <property name="hibernate.connection.password">use</property>
    <property name="hibernate.hbm2ddl.auto=create">update</property>
    <property name="hibernate.c3p0.min_size">7</property>
    <property name="hibernate.c3p0.max_size">53</property>
    <property name="hibernate.c3p0.timeout">100</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">1000</property>
    <property name="hibernate.c3p0.validate">true</property>
    <property name="hibernate.search.default.directory_provider">ram</property>
    <property name="hibernate.search.default.indexBase">org.hibernate.search.store.RAMDirectoryProvider</property>
    <mapping resource="Guest.hbm.xml"/>
    <mapping class="hoteladmin.SearchReservations"/>
    <mapping class="hoteladmin.SearchGuest"/>
    
    <mapping resource="Reservations.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
